@model TestoMVC.Models.TestCases

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TestCases</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestCaseNumber" />
            <div class="form-group">
                <label asp-for="TestCaseName" class="control-label"></label>
                <input asp-for="TestCaseName" class="form-control" />
                <span asp-validation-for="TestCaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCaseLink" class="control-label"></label>
                <input asp-for="TestCaseLink" class="form-control" />
                <span asp-validation-for="TestCaseLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
